<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/styles.css' %}">
</head>
<body>
    <header>
        <h1>Add a Review</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'main_page' %}">Reviews</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Post Your Review</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Gear Guardian & Recall Radar</p>
    </footer>
</body>
</html>
