{% extends 'base.html' %}

{% block title %}Update Review{% endblock %}

{% block content %}
<div class="container-review">
    <div class="form-container">
        <a href="{% url 'reviews:equipment_detail' equipment_id=review.equipment.id %}" class="btn back-link">Go back</a>
        <h2>Update Your Review for {{ review.equipment.name }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn submit-btn">Update Review</button>
        </form>
    </div>
</div>
{% endblock %}
