{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <section class="hero">
        <h2>Your go-to platform for reviewing personal protective equipment</h2>
        <p>Discover the best PPE equipment for your needs.</p>
    </section>

    <section class="reviews">
        <h2>Latest Reviews</h2>
        <div class="reviews-list">
            {% for review in reviews %}
                <div class="review">
                    <a href="{% url 'reviews:equipment_detail' equipment_id=review.equipment.id %}">{{ review.equipment.name }}</a>
                    
                    <h3> Manufacturer: </h3><p>{{ review.equipment.manufacturer }}</p>
                    <h3>{{ review.equipment.created_at }}</h3>
                    <p>{{ review.review_text }}</p>
                    <p>Reviewed by {{ review.user.username }} on {{ review.created_at }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}